<div class="post">
<div class="title"><a href="/posts/<%= poll._id.toHexString() %>"><%= poll.title %></a></div>
<div class="created_at"><%= poll.created_at %></div>
<div class="body"><%= poll.description %></div>
</div>
